@use "mixin";

:root {
  --color-surface: #fcf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f2fa;
  --color-surface-container: #f0ecf4;
  --color-surface-container-high: #ebe7ef;
  --color-surface-container-highest: #e5e1e9;
  --color-surface-outline-low: #c8c5d0;
  --color-surface-outline: #787680;
  --color-surface-outline-high: #787680;
  --color-surface-inverse: #313036;
  --color-on-surface: #1c1b21;
  --color-on-surface-variant: #47464f;
  --color-on-surface-inverse: #f3eff7;

  --color-primary: #5b5891;
  --color-on-primary: #ffffff;
  --color-primary-container: #e3dfff;
  --color-on-primary-container: #434078;

  --color-secondary: #5e5c71;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e3e0f9;
  --color-on-secondary-container: #464559;

  --color-tertiary: #7a5367;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ffd8ea;
  --color-on-tertiary-container: #603b4f;

  --color-danger: #ba1a1a;
  --color-on-danger: #ffffff;
  --color-danger-container: #ffdad6;
  --color-on-danger-container: #93000a;

  // 以下必要に応じて追加
  --color-brand-text: #5b5891;
  --color-brand-icon: #5b5891;
}

:root{
  --size-page-padding-inline: 12px;
  --size-header-height: 56px;
  --size-sidebar-width: 440px;
  @include mixin.mq(md){
    --size-page-padding-inline: 20px;
    --size-header-height: 80px;
  }
}